<div class="row">
    <div class="col-md-4">
        <img [src]="producto.img" class="img-fluid" [alt]="producto.nombre">
        <br><br>
        <a [routerLink]="['/productos']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{producto.nombre}}</h3>
        <small>{{producto.aparicion | date:'yyyy'}}</small>
        <hr>
        <p>
            {{producto.bio}}
        </p>
        <img *ngIf="producto.casa == 'Android'" class="img-fluid" src="../../../assets/img/Android.png" />
        <img *ngIf="producto.casa == 'iOS'" class="img-fluid" src="../../../assets/img/ios.png" />
    </div>
</div>